@model StaffPortal.Entities.Department
@{
    ViewData["Title"] = "Edit Departments";
}
<<<<<<< HEAD
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Department</h3>
    </div>
    <!--   <div class="col-md-7 align-self-center">
         <a href="https://wrappixel.com/templates/adminpro/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Upgrade to Pro</a>
      </div>-->
=======
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Faculties</h3>
    </div>
  <!--   <div class="col-md-7 align-self-center">
       <a href="https://wrappixel.com/templates/adminpro/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Upgrade to Pro</a>
    </div>--> 
>>>>>>> 61a5d3834b28469f6a29f0b819480ae1346cc0a4
</div>

<div class="row">
    <!-- column -->
<<<<<<< HEAD
    <div class="col-sm-12">
        <div class="white-box">
            <h3>Department</h3>
            <div class="table-responsive">

                <form method="post" asp-action="Create" class="mt-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="placeholder"
                               placeholder="Enter Department Name" asp-for="DeptName">
                    </div><br />
                    <div class="form-group">
                        <input type="text" class="form-control" id="placeholder"
                               placeholder="Enter Department Code" asp-for="DeptCode">
                    </div><br />
                    <div class="form-group mb-4">
                        <label for="exampleFormControlSelect1">Faculty</label>
                        <select class="form-control" id="exampleFormControlSelect1" asp-for="FacultyId" asp-items="@ViewBag.fac">
                            <option>Choose Option</option>
                        </select>
                    </div><br />
                    <button type="submit" class="btn btn-rounded btn-outline-success">Submit</button>
                    <a href="Cancel" type="button" class="btn btn-rounded btn-outline-danger">Cancel</a>
                </form>

=======
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">New Department</h4>
                <!-- <h6 class="card-subtitle">Add New Faculty</h6>-->
                <div class="table-responsive">
                    <form asp-action="Create" method="post" class="mt-4">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="DeptName">Name</label>
                            <input type="text" asp-for="DeptName" class="form-control" placeholder="Title" required="">
                            <span asp-validation-for="DeptName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DeptCode">Code</label>
                            <input type="text" asp-for="DeptCode" class="form-control" id="name" placeholder="Enter Faculty Name" required="">
                            <span asp-validation-for="DeptCode" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-success mr-2">Submit</button>
                        <a href="Cancel" type="button" class="btn btn-dark">Cancel</a>
                    </form>
                </div>
>>>>>>> 61a5d3834b28469f6a29f0b819480ae1346cc0a4
            </div>
        </div>
    </div>
</div>
