@model BookWeb.Models.EditRoleViewModel
@{
    ViewData["Title"] = "Edit Role";
    Layout = "~/Views/Shared/_Admin.cshtml";


}
<div id="page-wrapper">
    <div class="main-page">
        <div class="forms">

            <div class=" form-grids row form-grids-right">
                <div class="widget-shadow " data-example-id="basic-forms">
                    <div class="form-title">
                        <h4>Edit Row :</h4>
                    </div>
                    <div class="form-body">
                        <form asp-action="EditRole" method="post" class="mt-4">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Id"></label>
                                <input asp-for="Id" disabled class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="RoleName"></label>
                                <input asp-for="RoleName" class="form-control" />
                                <span asp-validation-for="RoleName" class="text-danger"></span>
                            </div>
                            <div>
                                <button type="submit" class="login100-form-btn">Update</button>

                                <a asp-action="ListRole" class="login100-form-btn"> Cancel   </a>

                            </div>
                            </form>
                    </div>
                </div>
                <form>
                <div class=" form-grids row form-grids-right">
                    <div class="widget-shadow " data-example-id="basic-forms">
                        <div class="form-title">
                            <h4>Users in this Role :</h4>
                        </div>
                        <div class="form-body">
                            <div class="card-body">
                                @if (Model.Users.Any())
                                {
                                    foreach (var user in Model.Users)
                                    {
                                        <h3 class="card-title">@user</h3>
                                    }
                                }
                                else
                                {
                                    <h3 class="card-title">None at the moment </h3>
                                }
                            </div>
                            @*<button type="submit" class="login100-form-btn">Add or Remove User</button>*@
                            <a asp-action="EditUsersInRole" asp-controller="Administration" asp-route-roleId="@Model.Id"
                               class="btn float-right hidden-sm-down btn-success"> Add or Remove User</a>
                        </div>
                    </div>
                </div>

                </form>


            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
</div>
<!-- /.container-fluid -->
