@model StaffPortal.Entities.UserProfile
@{
    ViewData["Title"] = "Edit Faculties";
}
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">UserProfile</h3>
    </div>
  <!--   <div class="col-md-7 align-self-center">
       <a href="https://wrappixel.com/templates/adminpro/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Upgrade to Pro</a>
    </div>--> 
</div>


<div class="col-md-8 col-xs-12">
    <div class="white-box">
        <form asp-action="Create" method="post" class="form-horizontal form-material">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName"> FirstName</label>
                <div class="col-md-12">
                    <input type="text" asp-for="FirstName" class="form-control" placeholder="Enter FirstName" required="">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName"> LastName</label>
                <div class="col-md-12">
                    <input type="text" asp-for="LastName" class="form-control" placeholder="Enter LastName " required="">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="email"> Email</label>
                <div class="col-md-12">
                    <input type="email" asp-for="email" class="form-control" placeholder="Enter email" required="">
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="StateId">State</label>
                <select asp-for="StateId" asp-items="@ViewBag.state"
                        class="form-control form-control-line custom-select" required="">
                    <option value="">Please select one</option>
                </select>
                <span asp-validation-for="StateId" class="text-danger"></span>

            </div>


            <div class="form-group">
                <label asp-for="FacultyId">Faculty</label>
                <select asp-for="FacultyId" asp-items="@ViewBag.faculty"
                        class="form-control form-control-line custom-select" required="">
                    <option value="">Please select one</option>
                </select>
                <span asp-validation-for="FacultyId" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="DepartmentId">Department</label>
                <select asp-for="DepartmentId" asp-items="@ViewBag.department"
                        class="form-control form-control-line custom-select" required="">
                    <option value="">Please select one</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>

            </div>


            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-success">Create Profile</button>
                    <a href="Cancel" type="button" class="btn btn-dark">Cancel</a>
                </div>
            </div>
        </form>
    </div>
           
    </div>
